// Заголовки, общие БЄМ блоки и проче...

// Свойсьво Blur 
.backdrop-filter {
	background: rgba(255, 255, 255, 0.9);
	// Если браузер поддерживает backdrop-filter
	@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31))) {
		background: rgba(255, 255, 255, 0.72);
		backdrop-filter: blur(31);
	}
}
